.upload-image {
    object-fit: cover;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 240px;
    height: 240px;
}

.upload-image:hover {
    opacity: 0.7;
}

.user-data,
.profile-image {
    display: flex;
    flex-direction: column;
}

.user-data {
    align-items: flex-start;
}