@import url(profile.css);
@import url(users.css);

.dashboard {
    display: flex;
    justify-content: space-between;

    img {
        border-radius: 50%;
    }

}

.dashboard-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    border: solid 2px var(--primary-text-color);
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
    min-height: 70vh;
}


.dashboard-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-input {
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.profile-data {
    font-size: 20px;
    line-height: 40px;
}