.users {
    display: flex;
    justify-content: space-around;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.admins-list {
    overflow-y: auto;
    max-height: 400px;
}

.admin-item {
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    align-items: center;

    .admin-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 10px;
    }

    button {
        background-color: rebeccapurple;
        border-radius: 50%;
        margin: 10px;
    }
}

.user-card {
    display: flex;
    align-items: center;

}

.trash {
    width: 30px;
    height: 30px;
}

.admin-name {
    color: white;
    font-weight: 500;
}