.about {
    display: flex;
    justify-content: space-between;

    img {
        max-width: 500px;
    }
   
}

.about-left {
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.description {
    text-align: justify;
}
