
.services {
    display: flex;
    justify-content: space-between;
}


.services-left {
    display: flex;
    width: 424px;
    flex-direction: column;
    align-items: start;
    text-align: justify;
}
